<div class="row">
    <div id="login" class="col s6 offset-s3">

        {{#if error}}
            <p class="alert">{{error}}</p>
        {{/if}}

        <h4>Set new password</h4>
        <form action="/auth/password" method="POST">
            <div class="row">
                <div class="input-field">
                    <input id="passwordid" name="password" type="password" class="validate" required minlength="1">
                    <label class="active" for="passwordid">Password</label>
                    <span class="helper-text" data-error="Please enter a password" data-success="right"></span>
                </div>

            <input type="hidden" name="_csrf" value="{{csrf}}">            
            <input type="hidden" name="userId" value={{useId}}>
            <input type="hidden" name="token" value={{token}}>

            <div class="row">
                <button class="btn btn-primary">Update password</button>
            </div>
        </form>

    </div>
</div>