<h1>Create New Course</h1>
<form method="POST" action="/add">
    <div class="row">
        <div class="input-field">
            <input id="titleid" name="title" type="text" class="validate" required>
            <label class="active" for="titleid">Course Name</label>
            <span class="helper-text" data-error="Please enter a course title" data-success="right"></span>
        </div>
    </div>    
    <div class="row">
        <div class="input-field">
            <input id="priceid" name="price" type="number" class="validate" required minlength="1">
            <label class="active" for="priceid">Price</label>
            <span class="helper-text" data-error="Please enter a course price" data-success="right"></span>
        </div>
    </div>    
    <div class="row">
        <div class="input-field">
            <input id="imgid" name="img" type="text" class="validate" required>
            <label class="active" for="imgid">Image URL</label>
            <span class="helper-text" data-error="Please enter a course image url" data-success="right"></span>
        </div>
    </div>

    <input type="hidden" name="_csrf" value="{{csrf}}">

    <div class="row">
        <button class="btn btn-primary">Create Course</button>
    </div>
</form>